html, body {
    font-family: 'Roboto', sans-serif;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  main, form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
  }
  
  label, input {
    padding: 8px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 1rem;
    background-color: lightslategray;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    border: none;
    height: 30px;
    font-size: 0.9rem;
    width: 400px;
    margin-left: 90px;
  }
  
  button:hover {
   background-color: rgb(174, 186, 197);
   transition: 0.8s;
  }