@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #151515;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    display: inline;
    line-height: 48px;
    font-weight: 700;
}

.section_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;

    padding-top: 51px;
    margin-bottom: 20px;
}

.section_logo img {
    border-radius: 8px;
    width: 128px;
}

.logo_team {
    display: flex;
    gap: 16px;

}

.logo_team h2 {
    font-size: 32px;
    font-weight: 500;
}

.logo_team span {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 16px 32px;

    border-radius: 50px;
}

.section_title_app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    margin-top: 40px;
}

.section_title_app h2 {
    font-weight: 500;
}

#myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#myForm label {
    font-size: 18px;
}

.section_data1 {
    
    display: flex;
    gap: 52px;
}

.section_data2 {
    display: flex;
    gap: 52px;
    
}

.fill {
    background-color: #1C1C1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    padding: 16px 32px;
    border-radius: 8px;
}

button {
    background-color: #3F46D2;
    color: #F2F2F2;
    border: none;
    padding: 16px 32px;
    border-radius: 55px;
}

.section_buttons {
    display: flex;
    gap: 16px;
}